/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 300px;
  margin: 40px auto;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}